<div class="header-mb {% if settings.header_style_mobile == 'header_mobile_2' %}header_mobile_2{% endif %}">          
    <div class="header-mb-left header-mb-items">
        <div class="hamburger-icon svg-mb">
            <a href="#" class="icon-nav" title="Menu Mobile Icon" data-menu-mb-toogle>
                <span class="icon-line"></span>
            </a>
        </div>
 

        {% if settings.header_style_mobile == 'header_mobile_2' %}
          <div class="header-logo">
            {% if section.settings.brand_type == 'image' and section.settings.logo != bank %}
            <a class="logo-img" href="{{ routes.cart_url | split: 'cart' | first }}" title="Logo">
              <img data-src="{{ section.settings.logo | img_url: 'master' }}"
                   src="{{ section.settings.logo | img_url: 'master' }}"
                   alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo" class="lazyautosizes lazyloade" data-sizes="auto">
            </a>
            {% elsif section.settings.brand_text != '' %}
            <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}">
              {{ section.settings.brand_text }}
            </a>
            {% else %}
            <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}">
              {{ shop.name }}
            </a>
            {% endif %}
          </div>
        {% endif %}
    </div>

  <div class="header-mb-middle header-mb-items">
    {% if settings.header_style_mobile == 'header_mobile_1' %}
      <div class="header-logo">
        {% if section.settings.brand_type == 'image' and section.settings.logo != bank %}
        <a class="logo-img" href="{{ routes.cart_url | split: 'cart' | first }}" title="Logo">
          <img data-src="{{ section.settings.logo | img_url: 'master' }}"
               src="{{ section.settings.logo | img_url: 'master' }}"
               alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo" class="lazyautosizes lazyloade" data-sizes="auto">
        </a>
        {% elsif section.settings.brand_text != '' %}
        <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}">
          {{ section.settings.brand_text }}
        </a>
        {% else %}
        <a class="logo-title" href="{{ routes.cart_url | split: 'cart' | first }}">
          {{ shop.name }}
        </a>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="header-mb-right header-mb-items">
    {% if settings.header_style_mobile == 'header_mobile_1' %}
        	{% if settings.enable_search %}
          <div class="search-mb svg-mb">
              <a href="#" title="Search Icon" class="icon-search" data-search-mobile-toggle>
                  {% render 'icon-search' %}
              </a>

              <a href="javascript:void(0)" title="close" class="close close-search">
                  {% render 'icon-close' %}
              </a>
          
              {% render 'search-bar' %}
          </div>  
        	{% endif %}
    {% endif %}
    {% if settings.header_style_mobile == 'header_mobile_2' %}
      {% if settings.enable_search %}
        <div class="search-mb svg-mb">
            <a href="#" title="Search Icon" class="icon-search" data-search-mobile-toggle>
                {% render 'icon-search' %}
            </a>

            <a href="javascript:void(0)" title="close" class="close close-search">
                {% render 'icon-close' %}
            </a>
        
            {% render 'search-bar' %}
        </div>  
      {% endif %}
    {% endif %}
<!--     {% if shop.customer_accounts_enabled %}
    <div class="acc-mb svg-mb">
     	<div class="customer-links text-uppercase">
          {% if customer %}
          <a  class="acc-links acc-title" href="{{ routes.account_url }}"{% if settings.enable_multilang %} data-translate="customer.account.title"{% endif %}>
            {{ 'customer.account.title' | t }}
          </a>
          {% else %}                                       
          <a  class="acc-links acc-sign-in" id="customer_login_link" href="{{ routes.account_login_url }}" {% if settings.enable_multilang %}data-translate="customer.login.sign_in"{% endif %}>
            {{ 'customer.login.sign_in' | t }}
          </a>
          {% endif %}                                 
      </div>
    </div>
    {% endif %}
     -->
    <div class="svg-mb">
      {% if settings.enable_wishlist %}
      <a class="wishlist" href="{{ pages['wishlist'].url }}" title='{% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}'>
        <svg aria-hidden="true" data-prefix="fal" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-heart fa-w-16 fa-2x"><path fill="currentColor" d="M462.3 62.7c-54.5-46.4-136-38.7-186.6 13.5L256 96.6l-19.7-20.3C195.5 34.1 113.2 8.7 49.7 62.7c-62.8 53.6-66.1 149.8-9.9 207.8l193.5 199.8c6.2 6.4 14.4 9.7 22.6 9.7 8.2 0 16.4-3.2 22.6-9.7L472 270.5c56.4-58 53.1-154.2-9.7-207.8zm-13.1 185.6L256.4 448.1 62.8 248.3c-38.4-39.6-46.4-115.1 7.7-161.2 54.8-46.8 119.2-12.9 142.8 11.5l42.7 44.1 42.7-44.1c23.2-24 88.2-58 142.8-11.5 54 46 46.1 121.5 7.7 161.2z" class=""></path></svg>
        <span class="wishlist-text text-hover"{% if settings.enable_multilang %} data-translate="wishlist.general.my_wishlist"{% endif %}>
          {{ 'wishlist.general.my_wishlist' | t }}
        </span>   
        <p class="wishlist-count"></p>
      </a>
      {% endif %} 
    </div>
    <div class="cart-icon svg-mb">
      <a href="#" title="Cart Icon" data-cart-toggle>
        {% if settings.header_layout == '05' or settings.header_layout == '07' %}
          {% render 'icons8-shopping-bag' %}
        {% elsif settings.header_layout == '06' %}
          {% render 'icon-cart-2' %}
        {% else %}
          {% render 'icon-cart' %}
        {% endif %}     
        <span class="cartCount" data-cart-count>
          ( {{ cart.item_count }} )
        </span>
      </a>
    </div>
  </div>          
</div>