
{% if section.settings.display_product_detail_description or  section.settings.display_product_reviews or section.settings.display_custom_tab_1 or section.settings.display_custom_tab_2 or section.settings.display_custom_tab_3 or section.settings.display_custom_tab_4 or section.settings.display_custom_tab_5 %}
<div class="tabs__product-page horizontal-tabs{% if section.settings.show_tab == 'horizontal_center' %} horizontal-tabs-center{% endif %}">
    {% if section.settings.display_product_detail_description == false and section.settings.display_product_reviews == true %}
        {% assign tab2_active = true %}
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == true %}
        {% assign tab3_active = true %}
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == false and section.settings.display_custom_tab_2 == true %}
        {% assign tab4_active = true %}
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == false and section.settings.display_custom_tab_2 == false and section.settings.display_custom_tab_3 == true %}
        {% assign tab5_active = true %} 
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == false and section.settings.display_custom_tab_2 == false and section.settings.display_custom_tab_3 == false and section.settings.display_custom_tab_4 == true %}
        {% assign tab6_active = true %}
    {% elsif section.settings.display_product_detail_description == false and section.settings.display_product_reviews == false and section.settings.display_custom_tab_1 == false and section.settings.display_custom_tab_2 == false and section.settings.display_custom_tab_3 == false and section.settings.display_custom_tab_4 == false %}
        {% assign tab7_active = true %}
    {% endif %}
    <ul class="list-tabs">
        {% if section.settings.display_product_detail_description %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab1" class="tab-links active">
                {% render 'multilang' with section.settings.product_description_title %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_product_reviews %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab2" class="tab-links {% if tab2_active%}active{% endif %}">
                {% render 'multilang' with section.settings.product_review_title %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_1 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab3" class="tab-links {% if tab3_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_1 %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_2 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab4" class="tab-links {% if tab4_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_2 %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_3 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab5" class="tab-links {% if tab5_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_3 %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_4 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab6" class="tab-links {% if tab6_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_4 %}
            </a>
        </li>
        {% endif %}

        {% if section.settings.display_custom_tab_5 %}
        <li class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab7" class="tab-links {% if tab7_active%}active{% endif %}">
                {% render 'multilang' with section.settings.custom_tab_title_5 %}
            </a>
        </li>
        {% endif %}
    </ul>

    <div class="wrapper-tab-content">
        {% if section.settings.display_product_detail_description %}

        {% assign des = product.description %}
        {% if des contains '[countdown]' or product.description contains '[custom tab]' %}
        {% assign des = product.description | split:'[/countdown]</p>' | last %}
        {% assign des = des | split:'[custom tab]' | first | split:'<iframe' | first %}
        {% endif %}

        <div class="tab-title">
            <a href="#" data-tapTop data-target="#collapse-tab1" class="tab-links active">
                {% render 'multilang' with section.settings.product_description_title %}
                <span class="icon-dropdown">
                <i class="fa fa-angle-down"></i>
                </span>
            </a>
        </div>

        <div class="tab-content active" data-TabContent id="collapse-tab1">
            {% if settings.enable_multilang and des contains '[lang2]' %}
            <div class="lang1">
                {{ des | split: '[lang2]' | first }}
            </div>
            <div class="lang2">
                {{ des | split: '[lang2]' | last }}
            </div>
            {% else %}
            <div>
                {{ des | split: '[lang2]' | first }}
            </div>
          	<div class="row mx-auto justify-content-center">
              <div class="col-12 col-md-10">
                 <div class="row">
                  <div class="col-12 col-md-6">                  
                       <ul class="features-data-list features-data-list-left">
                         <li>
                           {% if product.metafields['Outer Material']['Outer Material'] != blank %}
                           	Outer Material: {{ product.metafields['Outer Material']['Outer Material'] }} 
                           {% endif %}
                         </li>
                         <li>
                           {% if product.metafields['Inner Material']['Inner Material'] != blank %}
                           		Inner Material: {{ product.metafields['Inner Material']['Inner Material'] }}
                           {% endif %}
                         </li>
                         <li>
                           {% if product.metafields['Warranty Type']['Warranty Type'] != blank %}
                           		Warranty Type: {{ product.metafields['Warranty Type']['Warranty Type'] }}
                           {% endif %}
                         </li>
                         <li>
                           {% if product.metafields['Warranty Duration']['Warranty Duration'] != blank %}
                           		Warranty Duration: {{ product.metafields['Warranty Duration']['Warranty Duration'] }}
                           {% endif %}
                         </li>
                         <li>
                           {% if product.metafields['Country of Origin']['Country of Origin'] != blank %}
                           	County Of Origin: {{ product.metafields['Country of Origin']['Country of Origin'] }}
                           {% endif %}
                         </li>                       
                         
                         </ul>
                  </div>
                  <div class="col-12 col-md-6">
<!--                     <ul class="features-data-list features-data-list-right">
                      {% for paragraph in paragraphs offset: continue %}
                        <li>{{ paragraph }}</li>
                      {% endfor %}
                    </ul> -->
                      <ul class="features-data-list features-data-list-right">
                        <li>
                           {% if product.metafields['Feature_1']['Feature_1'] != blank %}
                           	{{ product.metafields['Feature_1']['Feature_1'] }}
                           {% endif %}
                         </li>
                       <li>
                         {% if product.metafields['Feature_2']['Feature_2'] != blank %}
                         {{ product.metafields['Feature_2']['Feature_2'] }}
                         {% endif %}
                        </li>
                       <li>
                         {% if product.metafields['Feature_3']['Feature_3'] != blank %}
                         	{{ product.metafields['Feature_3']['Feature_3'] }}
                         {% endif %}
                        </li>
                       <li>
                          {% if product.metafields['Feature_4']['Feature_4'] != blank %}
                         	{{ product.metafields['Feature_4']['Feature_4'] }}
                         {% endif %}
                        </li>                    
                       <li>
                         {% if product.metafields['Dimensions']['Dimensions']  != blank %}
                         Dimensions: {{ product.metafields['Dimensions']['Dimensions'] }}
                        {% endif %}
                        </li>
                        <li>
                         {% if product.metafields['Material Care']['Material Care']  != blank %}
                         	Material Care: {{ product.metafields['Material Care']['Material Care'] }}
                         {% endif %}
                        </li>
                        
                      </ul>
                  </div>
                </div>
              
              </div>
               
            </div>
            {% endif %}

            {% render 'product-detail-gallery_lookbook', product: product %}
        </div>
        {% endif %}

        {% if section.settings.display_product_reviews %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab2" class="tab-links {% if tab2_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.product_review_title %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab2_active%}active{% endif %}" data-TabContent id="collapse-tab2">
                <div id="shopify-product-reviews" data-id="{{product.id}}">
                    {{ product.metafields.spr.reviews }}
                </div>
            </div>
        {% endif %}

        {% if section.settings.display_custom_tab_1 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab3" class="tab-links {% if tab3_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_1 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab3_active%}active{% endif %}" data-TabContent id="collapse-tab3">
                {% if product.metafields.c_f['custom tab1'] != blank %}
                   {% assign des = product.metafields.c_f['custom tab1'] %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_1 %}
                    <div>
                      <img src="https://cdn.shopify.com/s/files/1/0554/8752/9165/files/Dimension.png?v=1623317066" alt="Girl in a jacket" width="700" height="800">
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if section.settings.display_custom_tab_2 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab4" class="tab-links {% if tab4_active %}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_2 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab4_active %}active{% endif %}" data-TabContent id="collapse-tab4">
                {% if product.metafields.c_f['custom tab2'] != blank %}
                   {% assign des = product.metafields.c_f['custom tab2'] %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_2 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if section.settings.display_custom_tab_3 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab5" class="tab-links {% if tab5_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_3 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab5_active%}active{% endif %}" data-TabContent id="collapse-tab5">
                {% if product.metafields.c_f['custom tab3'] != blank %}
                   {% assign des = product.metafields.c_f['custom tab3'] %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_3 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if section.settings.display_custom_tab_4 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab6" class="tab-links {% if tab6_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_4 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab6_active%}active{% endif %}" data-TabContent id="collapse-tab6">
                {% if product.metafields.c_f['custom tab4'] != blank %}
                   {% assign des = product.metafields.c_f['custom tab4'] %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_4 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %} 

        {% if section.settings.display_custom_tab_5 %}
            <div class="tab-title">
                <a href="#" data-tapTop data-target="#collapse-tab7" class="tab-links {% if tab7_active%}active{% endif %}">
                    {% render 'multilang' with section.settings.custom_tab_title_5 %}
                    <span class="icon-dropdown">
                    <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </div>
            <div class="tab-content {% if tab7_active%}active{% endif %}" data-TabContent id="collapse-tab7">
                {% if product.metafields.c_f['custom tab5'] != blank %}
                   {% assign des = product.metafields.c_f['custom tab5'] %}
                    <div>
                        {{ des }}
                    </div>
                {% else %}
                    {% assign des = section.settings.custom_tab_content_5 %}
                    <div>
                        {{ des }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>
    {% endif %}
</div>

<style>
 
  

  
  .tabs__product-page .list-tabs{ margin-bottom: 0;}
  
  .wrapper-tab-content{ width: 60%; margin: 0 auto; text-align: center; padding: 2rem; font-family: 'Open Sans', sans-serif; font-size: 14px;}
  .tabs__product-page.horizontal-tabs-center .list-tabs .tab-links{ background-color: rgba(255,255,255,0.70); padding: 1rem 3.5rem; font-size: 17px;  font-family: 'Open Sans', sans-serif; text-transform: capitalize; }
  .tabs__product-page .list-tabs { border-bottom: 0; }
  .tabs__product-page.horizontal-tabs-center .tab-title:not(:last-child){ margin-right: 16px; }
  .horizontal-tabs.horizontal-tabs-center .tab-links.active { background-color: #009E91; color: #fff;  border: 2px solid white; }
  .tabs__product-page .list-tabs .tab-links:before { content: none; }
  .horizontal-tabs .tab-content .f-content{   background-color: rgba(255,255,255,0.70); margin-top: 2rem; padding: 1rem 1rem 0; }
/*   .horizontal-tabs .tab-content .features-data-list li{ text-align: left; } */
  .horizontal-tabs .tab-content .features-data-list{ list-style-type: none; }
  .horizontal-tabs .tab-content .features-data-list li::before{ content: none; }
/*   .horizontal-tabs .tab-content .features-data-list-left li:first-child::before{ content: "Range Name: " ; }
  .horizontal-tabs .tab-content .features-data-list-left li:nth-child(2)::before{ content: "Size: " ; }
  .horizontal-tabs .tab-content .features-data-list-left li:nth-child(4)::before{ content: "Internal Compartment: " ; }
  .horizontal-tabs .tab-content .features-data-list-left li:nth-child(5)::before{ content: "Organizer: " ; }
  .horizontal-tabs .tab-content .features-data-list-right li:first-child::before{ content: "Back Pocket: " ; }
  .horizontal-tabs .tab-content .features-data-list-right li:nth-child(4)::before{ content: "PU Interior:  " ; }
  .horizontal-tabs .tab-content .features-data-list-right li:nth-child(5)::before{ content: "Dimensions: " ; } */
 
  @media (min-width: 768px){ 
/*   .tabs__product-page{ width: 110%; margin: 0 -5%; } */
  }
  
  @media (min-width: 1199px){ 
/*     .tabs__product-page{ width: 111%; margin: 0 -5.5%; } */
  
  }
  
  @media (max-width: 767px){
/*     .tabs__product-page{ padding: 0; }
    .wrapper-tab-content{ padding: 5px 7px; }
    .tabs__product-page.horizontal-tabs-center .tab-title:not(:last-child){ margin-right: 0; }
    .tabs__product-page .tab-links .icon-dropdown{ right: 10px; }
    .wrapper-tab-content .tab-title+.tab-content:not(:last-child){ border-bottom: 1px solid #009A8E; margin-bottom: 20px; }
    .tabs__product-page .wrapper-tab-content .tab-links{ background: #F3FFFE;
    border-color: #F3FFFE;
    margin-bottom: 1rem;
    color: #18A499; }
    .tabs__product-page .tab-links.active .icon-dropdown{ color: #fff; opacity: 1; }
    .tabs__product-page .tab-links .icon-dropdown{ color: #18A499; opacity: 1; } */
  
  }
  
  @media (min-width: 1600px){
/*    .tabs__product-page{ width: 116%; margin: 0 -8%; } */
  
  }
</style>